//- Kore Head
//- Copyright(c) 2013 Koreviz
//- MIT Licensed
head
	meta(charset='utf-8')

	meta(http-equiv='X-UA-Compatible', content='IE=edge')

	title= title
	meta(name='description', content=description)
	meta(name='keywords', content=keywords)

	meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
 
	link(rel='manifest', hre='/site.webmanifest')
	link(rel='apple-touch-icon', href='/icon.png')

	//- style
	link(rel='stylesheet', href='/build.css')